@use 'sass:color';

// Luncheon colors :)
$color1: rgb(0, 243, 221);
$color2: rgb(216, 255, 85);
$color3: rgb(255, 166, 148);
$color4: rgb(182, 154, 255);

.listing-page .link,
.commentarea > .sitetable > .comment {
	transition: background-color 0.2s ease;

	&:hover {
		transition: none;

		// There is .clearleft between each links
		&:nth-of-type(8n + 1) {
			background: color.scale($color1, $lightness: 85%);
		}

		&:nth-of-type(8n + 3) {
			background: color.scale($color2, $lightness: 85%);
		}

		&:nth-of-type(8n + 5) {
			background: color.scale($color3, $lightness: 85%);
		}

		&:nth-of-type(8n + 7) {
			background: color.scale($color4, $lightness: 85%);
		}
	}
}
